<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>JW 주소록</title>
    <link rel="stylesheet" href="/css&js/intro.css">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
  </head>
  <body>
    <form class="center" action="/home">
      <div>
        <button type="submit" class="btn btn-info">Click</button>
      </div>
    </form>
  </body>
</html>
